<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="what.whatandroid"
          android:versionCode="10"
          android:versionName="2.0.2.a">

<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".login.LoginActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".announcements.AnnouncementsActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".profile.ProfileActivity"
                android:label="@string/profile">
        </activity>
        <activity
                android:name=".artist.ArtistActivity"
                android:label="@string/artist">
        </activity>
        <activity
                android:name=".torrentgroup.TorrentGroupActivity"
                android:label="@string/torrent_group">
        </activity>
        <activity
                android:name=".search.SearchActivity"
                android:label="@string/search">
        </activity>
        <activity
                android:name=".settings.SettingsActivity"
                android:label="@string/action_settings">
        </activity>
        <activity
                android:name=".request.RequestActivity"
                android:label="@string/request">
        </activity>

        <service
                android:name=".errors.ErrorReporterService"
                android:exported="false"/>
        <service
                android:name=".updater.UpdateService"
                android:exported="false"/>

        <receiver
                android:name=".updater.UpdateBroadcastReceiver"
                android:exported="false"/>
    </application>

</manifest>
