<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="what.gui" android:versionCode="0" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"
		android:screenOrientation="portrait" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="com.flattr4android.permission.READ_THING" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.login.WhatAndroidActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name=".MainMenu" android:theme="@style/Theme.MenuDialog"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name=".SearchMenu" android:theme="@style/Theme.MenuDialog"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.barcode.ScannerActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.home.HomeActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.forum.ForumSectionsListActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.forum.SectionActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.forum.ThreadActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.status.WhatStatusActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.top.TopTorrentsActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.subscriptions.SubscriptionsActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.search.UserSearchActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.search.RequestsSearchActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.search.TorrentSearchActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.artist.ArtistTabActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.ListActivity" android:theme="@style/Theme.NoTitleDialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.artist.ArtistActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.artist.ArtistStatsActivity"
			android:theme="@style/Theme.NoTitleDialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.artist.RequestListActivity"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.requests.RequestTabActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.requests.RequestActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.requests.RequestDetailsActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.artist.TorrentListActivity"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.torrents.TorrentTabActivity"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.torrents.TorrentStatsActivity"
			android:theme="@style/Theme.NoTitleDialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.torrents.TorrentInfoActivity"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.torrents.torrents.TorrentFormatsActivity"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.settings.SettingsActivity" android:theme="@android:style/Theme.NoTitleBar"
			android:noHistory="false">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.donate.FlattrDonationActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.forum.PostOptionsActivity" android:theme="@style/Theme.MenuDialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.inbox.MessageOptionsActivity" android:theme="@style/Theme.MenuDialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.inbox.InboxActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.bookmarks.BookmarksTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.bookmarks.ArtistBookmarksActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.bookmarks.TorrentBookmarksActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.announcements.AnnouncementActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.announcements.BlogActivity" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.notifications.NotificationsActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<service android:name="what.services.NotificationService" />
		<service android:name="what.services.InboxService" />
		<service android:name="what.services.AnnouncementService" />


		<activity android:windowSoftInputMode="adjustPan"
			android:name="what.user.UserProfilePopUpActivity" android:theme="@style/Theme.NoTitleDialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.user.UserProfileActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.inbox.BugReportActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.inbox.ConversationActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.inbox.NewConversationActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:windowSoftInputMode="adjustPan"
			android:theme="@android:style/Theme.NoTitleBar" android:name="what.forum.NewThreadActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<receiver android:name="what.widget.UserStatsWidgetProvider"
			android:label="What.CD User Stats">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/userstatswidgetinfo" />
		</receiver>
	</application>
</manifest>
